body{
    background-color: gainsboro;
}
.todo-text{
    border:4px solid black;
    height:80px;
    text-align: center;
    color: white;
    background-color: black;
    font-size: 40px;

}
.bada-wala{
    border: 4px solid black;
    margin-top:15px;
    background-color: white;
    width: 60px;
}
.chota-wala{
    border:4px solid black ;
    margin:15px ;
    background-color:white ;
    width:200px ;
    height: 25px;

}
button{
    float: right;
}